.categoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  .category {
    margin-right: 24px;
    color: #333333;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    text-align: center;
  }
}

.headerTitle {
  text-align: center;
  color: #1a2230;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 28px;
}

.productsContainer {
  display: flex;
  justify-content: center;
  margin: 32px 150px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .productsContainer {
    display: flex;
    justify-content: center;
    margin: 0px;
    width: 100%;
  }
}
